USE [master]
GO
/****** Object:  Database [polycoffee]    Script Date: 12/10/2025 9:27:45 PM ******/
CREATE DATABASE [polycoffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'polycoffee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\polycoffee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'polycoffee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\polycoffee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [polycoffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [polycoffee]
GO
/****** Object:  Table [dbo].[bill_details]    Script Date: 12/10/2025 9:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bill_id] [int] NULL,
	[drink_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bills]    Script Date: 12/10/2025 9:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[card_id] [int] NULL,
	[code] [varchar](10) NOT NULL,
	[created_at] [date] NULL,
	[total] [int] NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 12/10/2025 9:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/10/2025 9:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[drinks]    Script Date: 12/10/2025 9:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drinks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](250) NULL,
	[price] [int] NULL,
	[image] [nvarchar](250) NULL,
	[description] [nvarchar](max) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/10/2025 9:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](255) NULL,
	[full_name] [nvarchar](60) NULL,
	[phone] [varchar](10) NULL,
	[role] [bit] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [active]) VALUES (1, N'Cafe', 1)
INSERT [dbo].[categories] ([id], [name], [active]) VALUES (2, N'Trà', 1)
INSERT [dbo].[categories] ([id], [name], [active]) VALUES (8, N'Nước ép', 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password], [full_name], [phone], [role], [active]) VALUES (1, N'admin@gmail.com', N'123', N'Quản trị', N'0919123123', 1, 1)
INSERT [dbo].[users] ([id], [email], [password], [full_name], [phone], [role], [active]) VALUES (2, N'teonv@gmail.com', N'123', N'Nguyễn Văn Tèo', N'0907828123', 0, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164708EDD3D]    Script Date: 12/10/2025 9:27:45 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[bill_details]  WITH CHECK ADD FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([id])
GO
ALTER TABLE [dbo].[bill_details]  WITH CHECK ADD FOREIGN KEY([drink_id])
REFERENCES [dbo].[drinks] ([id])
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[drinks]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
USE [master]
GO


-- CREATE PROCEDURE sp_top_5_best_selling_drinks
--     @from_date DATE = NULL,
--     @to_date   DATE = NULL
-- AS
-- BEGIN
--     SET NOCOUNT ON;

--     SELECT TOP 5
--         d.id   AS drink_id,
--         d.name AS drink_name,
--         SUM(bd.quantity) AS total_quantity_sold,
--         SUM(bd.quantity * bd.price) AS total_revenue
--     FROM bill_details bd
--     INNER JOIN drinks d ON bd.drink_id = d.id
--     INNER JOIN bills b ON bd.bill_id = b.id
--     WHERE 
--         b.status = 'finish'
--         AND (@from_date IS NULL OR b.created_at >= @from_date)
--         AND (@to_date   IS NULL OR b.created_at <= @to_date)
--     GROUP BY d.id, d.name
--     ORDER BY total_quantity_sold DESC;
-- END
-- GO


-- EXEC sp_top_5_best_selling_drinks '2025-10-01', '2025-10-31';

CREATE PROCEDURE sp_revenue_by_day
    @from_date DATE,
    @to_date   DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        created_at        AS revenue_date,
        COUNT(id)         AS total_bills,
        SUM(total)        AS total_revenue
    FROM bills
    WHERE 
        status = 'finish'
        AND created_at BETWEEN @from_date AND @to_date
    GROUP BY created_at
    ORDER BY revenue_date;
END
GO
